.icon {

    height: 30px;
    width: 30px;
    background-size: 96px !important;
    background: url(3icon.jpg);
    background-position-y: -3px;
}

.setting {
    background-position-x: 63px;
}

.edit {
    background-position-x: -5px;
}

.new {
    background-position-x: -59px;
}

.float-left {
    float: left;
}

.up_icon {

    height: 24px;
    width: 35px;
    background: url(icon.jpg);
}

.bg-gradient {
    background-image:linear-gradient( to bottom, #f3f3f3, #d4d4d4);
}